<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605668682072-ab6gm15g2gpbkco94k5p013mldh90gba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605668682072-ab6gm15g2gpbkco94k5p013mldh90gba</string>
	<key>API_KEY</key>
	<string>AIzaSyB14J-IlNnVwZbJUEQEgMhvCXLKyf8sDVc</string>
	<key>GCM_SENDER_ID</key>
	<string>605668682072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juancarlos13.chatGrupo</string>
	<key>PROJECT_ID</key>
	<string>chatgrupo-f052c</string>
	<key>STORAGE_BUCKET</key>
	<string>chatgrupo-f052c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605668682072:ios:848e1289d460571a3b9d2d</string>
</dict>
</plist>